.detail {
    flex: 1;
    padding: 30px 20px;

    .user {
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-bottom: 1px solid #dddddd35;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .option {
            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17, 25, 40, 0.3);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .photos {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 20px;

                .photoItem {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .photoDetail {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            object-fit: cover;
                        }

                        span {
                            font-size: 14px;
                            color: lightgray;
                            font-weight: 300;
                        }
                    }

                    .icon {
                        width: 30px;
                        height: 30px;
                        padding: 10px;
                        background-color: rgba(17, 25, 40, 0.3);
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }
        button {
            width: 100%;
            padding: 15px;
            background-color: rgba(230, 24, 30, 0.3);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgba(230, 24, 30, 0.8);
            }

            &.logout {
                padding: 10px;
                background-color: #1a73e8;
            }
        }
    }
}
